@model TodoList.Models.TodoViewModel


@{
    ViewData["Title"] = "Gizlilik Politikasi";
}
<h1>@ViewData["Title"]</h1>

<p>.</p>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TodoList</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="css/site.css">

</head>

<body>

    <div class="container">
        <h1 class="text-center m-5">@ViewData["Title"]</h1>
        <form action="/add-todo" method="post">
            @Html.AntiForgeryToken()
            <div class="row bg-secondary p-5">
                <div class="col-10">
                    <input asp-for="Title" type="text" class="form-control" placeholder="Başlık" id="txtTitle">
                    <span asp-validation-for="Title" class="text-danger mt-5"> </span>
                </div>
                <div class="col-2">
                    <button class="btn btn-success" id="btnAdd">Ekle</button>
                </div>
            </div>
        </form>
        <div class="row">
            <ul class="list-group mt-3" id="list">

                @foreach (var item in Model.Todos!)
                {
                    <li data-action="update-todo" data-id="@item.Id"
                    class='list-group-item 
                    @(item.IsComplated==true?"list-group-item-danger text-decoration-line-text" :" list-group-item-success") m-1'>@item.Title <button
                        class="btn-close" data-action="delete-todo" data-id="@item.Id"></button></li>

                }


            </ul>
        </div>
    </div>
















    <script src="./js/jquery-3.6.3.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
        integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
        crossorigin="anonymous"></script>
    <script src="js/site.js"></script>
</body>

</html>